*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    background-color: #28282B;
}
.header{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 30px;
    background-color: #28282B;
    color: white;
}
.section{
    margin: 20px 20px;
    padding: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F5B041;
}